#banner {
  padding-top: 216px;
  padding-bottom: 98px;
  background-color: #895ee9;

  .ban_main {
    h1 {
      font-size: 64px;
      font-weight: bold;
      color: #fff;
      line-height: 86px;
      padding-right: 50px;
      padding-bottom: 28px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      padding-bottom: 64px;
      text-align: justify;
      padding-right: 140px;
    }
    a {
      font-size: 14px;
      font-weight: bold;
      color: #373737;
      padding: 16px 48px;
      border-radius: 8px;
      background-color: #fff;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
}
