#blog-b {
  padding-top: 176px;
  padding-bottom: 131px;
  .blog_head {
    padding-bottom: 141px;
    h6 {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      padding-bottom: 25px;
    }
    h1 {
      font-size: 48px;
      font-weight: bold;
      color: #333333;
      padding-bottom: 25px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      color: 666666;
    }
  }
  .blog_body {
    .card {
      border: none;
      background-color: transparent;
    }
    .card-body {
      padding: 0;
    }
    img {
      padding-bottom: 42px;
    }
    h6 {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      color: #999999;
      font-family: "Roboto", sans-serif;
      padding-bottom: 14px;
    }
    .head_B {
      font-weight: bold;
      color: #333333;
      padding-right: 10px;
    }
    h5 {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      padding-bottom: 7px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      color: #666666;
      padding-bottom: 19px;
      font-family: "Roboto", sans-serif;
    }
    a {
      font-size: 18px;
      font-weight: bold;
      color: #7c4ee4;
      text-decoration: underline;
      font-family: "Roboto", sans-serif;
    }
  }
}
